In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
players1 = pd.read_csv("phs_2020_1.csv").drop(['start_time'], axis=1)
players2 = pd.read_csv("phs_2020_2.csv").drop(['start_time'], axis=1)
combine = [players1, players2]
data = pd.concat(combine)
#np.where(df.stat_name == 'All Damage Done')[0]
#df[df['stat_name'] == 'All Damage Done' and df['hero_name'] == 'Mercy']
data.drop(data.index[data['tournament_title'] != 'OWL 2020 Regular Season'], inplace = True)
data.drop(['tournament_title'], axis = 1, inplace = True)

In [3]:
cols = ['esports_match_id', 'map_type', 'map_name', 'player_name', 'team_name', 'hero_name', 'stat_name', 'stat_amount']
data = data.reindex(columns = cols)
data = data[data["hero_name"] != "All Heroes"]
stats = ['Hero Damage Done', 'Assists', 'Barrier Damage Done', 'Deaths', 'Eliminations', 'Objective Kills', 'Objective Time', 'Ultimates Earned - Fractional', 'Final Blows', 'Damage Blocked', 'Healing Done', 'All Damage Done']
data = data.loc[data["stat_name"].isin(stats)]
data['stat_amount'] = data['stat_amount'].round(decimals = 2)

In [4]:
test = data.groupby(['esports_match_id', 'map_type', 'map_name', 'team_name', 'player_name','hero_name']).agg(list)
#tab = test[['hero_name', 'stat_name', 'stat_amount']].copy().to_frame()
test = data[['stat_name', 'stat_amount', 'player_name','esports_match_id','hero_name','map_name', 'team_name']].copy().reset_index()
test = test[['stat_name', 'stat_amount', 'player_name','esports_match_id','hero_name','map_name', 'team_name']]
test = test.pivot_table(values='stat_amount', index=[test['esports_match_id'],test['team_name'],  test['map_name'], test['player_name'], test['hero_name']], columns='stat_name', aggfunc='first')
test = test.reset_index()
test = test.fillna(0)
test['map_name'].replace({'King\'s Row': 'Kings Row'}, inplace = True)
test

stat_name,esports_match_id,team_name,map_name,player_name,hero_name,All Damage Done,Assists,Barrier Damage Done,Damage Blocked,Deaths,Eliminations,Final Blows,Healing Done,Hero Damage Done,Objective Kills,Objective Time,Ultimates Earned - Fractional
0,30991,Paris Eternal,Eichenwalde,BenBest,Reinhardt,14495.63,10.0,5517.72,32655.81,9.0,19.0,9.0,0.00,8976.92,10.0,295.96,7.97
1,30991,Paris Eternal,Eichenwalde,FDGod,Lúcio,12012.14,14.0,5175.00,0.00,9.0,18.0,2.0,9229.73,6836.14,9.0,167.42,7.03
2,30991,Paris Eternal,Eichenwalde,Greyy,Baptiste,14678.33,13.0,7166.20,0.00,8.0,18.0,5.0,20391.75,7511.14,7.0,128.26,10.43
3,30991,Paris Eternal,Eichenwalde,Greyy,Moira,341.67,1.0,86.10,0.00,0.0,1.0,0.0,1336.51,255.57,1.0,0.42,0.76
4,30991,Paris Eternal,Eichenwalde,NiCOgdh,Doomfist,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24946,35554,Seoul Dynasty,Temple of Anubis,Profit,Genji,1056.00,1.0,106.00,0.00,1.0,1.0,0.0,0.00,950.00,0.0,16.30,0.71
24947,35554,Seoul Dynasty,Temple of Anubis,Profit,Hanzo,10958.80,10.0,2546.54,0.00,8.0,30.0,20.0,0.00,8412.26,12.0,61.56,5.89
24948,35554,Seoul Dynasty,Temple of Anubis,Profit,Pharah,883.85,0.0,0.00,0.00,1.0,1.0,1.0,0.00,883.85,0.0,0.00,0.63
24949,35554,Seoul Dynasty,Temple of Anubis,tobi,Lúcio,572.82,1.0,20.00,0.00,0.0,2.0,1.0,295.03,552.82,1.0,18.45,0.35
24950,35554,Seoul Dynasty,Temple of Anubis,tobi,Mercy,783.25,3.0,0.00,0.00,2.0,6.0,3.0,6973.66,782.25,2.0,83.01,5.12

Map Data Starts Here:

In [5]:
maps = pd.read_csv("match_map_stats.csv")
maps['map_name'].replace({'King\'s Row': 'Kings Row'}, inplace = True)

In [6]:
cleaned_maps = pd.DataFrame()
maps.query("`match_id` >= 30991", inplace = True)
maps.query("`match_id` <= 36231", inplace = True)
cleaned_maps['match_id'] = maps['match_id']
cleaned_maps['team_one'] = maps['team_one_name']
cleaned_maps['team_two'] = maps['team_two_name']
cleaned_maps['map_winner'] = maps['map_winner']
cleaned_maps['map_name'] = maps['map_name']
cleaned_maps['game_number'] = maps['game_number']
cleaned_maps['match_winner'] = maps['match_winner']
cleaned_maps.drop_duplicates(inplace = True)
cleaned_maps

,match_id,team_one,team_two,map_winner,map_name,game_number,match_winner
6246,30991,Toronto Defiant,Paris Eternal,Paris Eternal,Lijiang Tower,1,Toronto Defiant
6248,30991,Paris Eternal,Toronto Defiant,Toronto Defiant,Eichenwalde,2,Toronto Defiant
6252,30991,Paris Eternal,Toronto Defiant,Toronto Defiant,Horizon Lunar Colony,3,Toronto Defiant
6255,30991,Paris Eternal,Toronto Defiant,Toronto Defiant,Havana,4,Toronto Defiant
6257,30992,London Spitfire,New York Excelsior,London Spitfire,Lijiang Tower,1,New York Excelsior
...,...,...,...,...,...,...,...
9071,35552,Seoul Dynasty,San Francisco Shock,San Francisco Shock,Kings Row,2,San Francisco Shock
9073,35552,San Francisco Shock,Seoul Dynasty,Seoul Dynasty,Hanamura,3,San Francisco Shock
9075,35552,San Francisco Shock,Seoul Dynasty,Seoul Dynasty,Watchpoint: Gibraltar,4,San Francisco Shock
9077,35552,Seoul Dynasty,San Francisco Shock,San Francisco Shock,Busan,5,San Francisco Shock
9079,35552,Seoul Dynasty,San Francisco Shock,San Francisco Shock,Hollywood,6,San Francisco Shock

In [7]:
new_frame = pd.DataFrame(columns = cleaned_maps.columns)
for index, row in cleaned_maps.iterrows():
    if row['team_two'] < row['team_one']:
        new_frame.loc[index] = [row['match_id'], row['team_two'], row['team_one'], row['match_winner'], row['map_name'], row['game_number'], row['map_winner']]
    else:
        new_frame.loc[index] = [row['match_id'], row['team_one'], row['team_two'], row['match_winner'], row['map_name'], row['game_number'], row['map_winner']]
cleaned_maps = new_frame
cleaned_maps

,match_id,team_one,team_two,map_winner,map_name,game_number,match_winner
6246,30991,Paris Eternal,Toronto Defiant,Toronto Defiant,Lijiang Tower,1,Paris Eternal
6248,30991,Paris Eternal,Toronto Defiant,Toronto Defiant,Eichenwalde,2,Toronto Defiant
6252,30991,Paris Eternal,Toronto Defiant,Toronto Defiant,Horizon Lunar Colony,3,Toronto Defiant
6255,30991,Paris Eternal,Toronto Defiant,Toronto Defiant,Havana,4,Toronto Defiant
6257,30992,London Spitfire,New York Excelsior,New York Excelsior,Lijiang Tower,1,London Spitfire
...,...,...,...,...,...,...,...
9071,35552,San Francisco Shock,Seoul Dynasty,San Francisco Shock,Kings Row,2,San Francisco Shock
9073,35552,San Francisco Shock,Seoul Dynasty,San Francisco Shock,Hanamura,3,Seoul Dynasty
9075,35552,San Francisco Shock,Seoul Dynasty,San Francisco Shock,Watchpoint: Gibraltar,4,Seoul Dynasty
9077,35552,San Francisco Shock,Seoul Dynasty,San Francisco Shock,Busan,5,San Francisco Shock
9079,35552,San Francisco Shock,Seoul Dynasty,San Francisco Shock,Hollywood,6,San Francisco Shock

In [8]:
map_winner = []
match_winner = []
game_number = []
temp1 = pd.DataFrame()
for index,row in test.iterrows():
    map = str(row['map_name'])
    match_id = int(row['esports_match_id'])
    #print(map)
    #print(match_id)
    temp = cleaned_maps[cleaned_maps['match_id'] == match_id]
    temp1 = temp[temp['map_name'] == map]
    #print(temp1)
    
    #print('-----')
    map_winner.append(temp1.iloc[0]['map_winner'])
    game_number.append(temp1.iloc[0]['game_number'])
    match_winner.append(temp1.iloc[0]['match_winner'])
test1 = test
test1['map_winner'] = map_winner
test1['match_winner'] = match_winner
test1['game_number'] = game_number
test1 = test1[['esports_match_id', 'team_name', 'map_name', 'game_number', 'map_winner','match_winner','player_name','hero_name','Assists','Barrier Damage Done', 'Deaths','Eliminations','Healing Done','Hero Damage Done','Objective Kills', 'Objective Time']]
test1

stat_name,esports_match_id,team_name,map_name,game_number,map_winner,match_winner,player_name,hero_name,Assists,Barrier Damage Done,Deaths,Eliminations,Healing Done,Hero Damage Done,Objective Kills,Objective Time
0,30991,Paris Eternal,Eichenwalde,2,Toronto Defiant,Toronto Defiant,BenBest,Reinhardt,10.0,5517.72,9.0,19.0,0.00,8976.92,10.0,295.96
1,30991,Paris Eternal,Eichenwalde,2,Toronto Defiant,Toronto Defiant,FDGod,Lúcio,14.0,5175.00,9.0,18.0,9229.73,6836.14,9.0,167.42
2,30991,Paris Eternal,Eichenwalde,2,Toronto Defiant,Toronto Defiant,Greyy,Baptiste,13.0,7166.20,8.0,18.0,20391.75,7511.14,7.0,128.26
3,30991,Paris Eternal,Eichenwalde,2,Toronto Defiant,Toronto Defiant,Greyy,Moira,1.0,86.10,0.0,1.0,1336.51,255.57,1.0,0.42
4,30991,Paris Eternal,Eichenwalde,2,Toronto Defiant,Toronto Defiant,NiCOgdh,Doomfist,0.0,0.00,0.0,0.0,0.00,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24946,35554,Seoul Dynasty,Temple of Anubis,3,Seoul Dynasty,Seoul Dynasty,Profit,Genji,1.0,106.00,1.0,1.0,0.00,950.00,0.0,16.30
24947,35554,Seoul Dynasty,Temple of Anubis,3,Seoul Dynasty,Seoul Dynasty,Profit,Hanzo,10.0,2546.54,8.0,30.0,0.00,8412.26,12.0,61.56
24948,35554,Seoul Dynasty,Temple of Anubis,3,Seoul Dynasty,Seoul Dynasty,Profit,Pharah,0.0,0.00,1.0,1.0,0.00,883.85,0.0,0.00
24949,35554,Seoul Dynasty,Temple of Anubis,3,Seoul Dynasty,Seoul Dynasty,tobi,Lúcio,1.0,20.00,0.0,2.0,295.03,552.82,1.0,18.45
24950,35554,Seoul Dynasty,Temple of Anubis,3,Seoul Dynasty,Seoul Dynasty,tobi,Mercy,3.0,0.00,2.0,6.0,6973.66,782.25,2.0,83.01

In [9]:
hero_df = test.drop(['match_winner'], axis = 1)
winners = []
for index,row in hero_df.iterrows():
    if (row['team_name'] != row['map_winner']):
        winners.append("L")
    else:
        winners.append("W")
hero_df['map_winner'] = winners
hero_df

stat_name,esports_match_id,team_name,map_name,player_name,hero_name,All Damage Done,Assists,Barrier Damage Done,Damage Blocked,Deaths,Eliminations,Final Blows,Healing Done,Hero Damage Done,Objective Kills,Objective Time,Ultimates Earned - Fractional,map_winner,game_number
0,30991,Paris Eternal,Eichenwalde,BenBest,Reinhardt,14495.63,10.0,5517.72,32655.81,9.0,19.0,9.0,0.00,8976.92,10.0,295.96,7.97,L,2
1,30991,Paris Eternal,Eichenwalde,FDGod,Lúcio,12012.14,14.0,5175.00,0.00,9.0,18.0,2.0,9229.73,6836.14,9.0,167.42,7.03,L,2
2,30991,Paris Eternal,Eichenwalde,Greyy,Baptiste,14678.33,13.0,7166.20,0.00,8.0,18.0,5.0,20391.75,7511.14,7.0,128.26,10.43,L,2
3,30991,Paris Eternal,Eichenwalde,Greyy,Moira,341.67,1.0,86.10,0.00,0.0,1.0,0.0,1336.51,255.57,1.0,0.42,0.76,L,2
4,30991,Paris Eternal,Eichenwalde,NiCOgdh,Doomfist,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.02,L,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24946,35554,Seoul Dynasty,Temple of Anubis,Profit,Genji,1056.00,1.0,106.00,0.00,1.0,1.0,0.0,0.00,950.00,0.0,16.30,0.71,W,3
24947,35554,Seoul Dynasty,Temple of Anubis,Profit,Hanzo,10958.80,10.0,2546.54,0.00,8.0,30.0,20.0,0.00,8412.26,12.0,61.56,5.89,W,3
24948,35554,Seoul Dynasty,Temple of Anubis,Profit,Pharah,883.85,0.0,0.00,0.00,1.0,1.0,1.0,0.00,883.85,0.0,0.00,0.63,W,3
24949,35554,Seoul Dynasty,Temple of Anubis,tobi,Lúcio,572.82,1.0,20.00,0.00,0.0,2.0,1.0,295.03,552.82,1.0,18.45,0.35,W,3
24950,35554,Seoul Dynasty,Temple of Anubis,tobi,Mercy,783.25,3.0,0.00,0.00,2.0,6.0,3.0,6973.66,782.25,2.0,83.01,5.12,W,3

In [10]:
map_names = pd.unique(hero_df['map_name'])
hero_names = pd.unique(hero_df['hero_name'])

In [11]:
hero_df['map_winner'] = hero_df['map_winner'].replace('W', '1')
hero_df['map_winner'] = hero_df['map_winner'].replace('L', '0')
hero_df['map_winner'] = hero_df['map_winner'].astype('int')
heroes = []
winners = []
maps = []
for map in map_names:
    for hero in hero_names:
        temp_hero = hero_df.loc[hero_df['hero_name'] == hero] 
        scores = temp_hero.loc[temp_hero['map_name'] == map]['map_winner']
        if (scores.size) == 0:
            winners.append(0)
        else:
            winners.append((sum(scores) / scores.size) * 100)
        heroes.append(hero)
        maps.append(map)
win_pct = pd.DataFrame()
win_pct['Hero'] = heroes
win_pct['Map'] = maps
win_pct['Win_Pct'] = winners

In [12]:
win_pct['Win_Pct'] = win_pct['Win_Pct'].round(decimals = 2)
win_pct

            Hero                    Map  Win_Pct
0      Reinhardt            Eichenwalde    50.00
1          Lúcio            Eichenwalde    50.85
2       Baptiste            Eichenwalde    51.85
3          Moira            Eichenwalde    40.00
4       Doomfist            Eichenwalde    35.71
..           ...                    ...      ...
667  Soldier: 76  Watchpoint: Gibraltar    57.14
668      Junkrat  Watchpoint: Gibraltar     0.00
669     Torbjörn  Watchpoint: Gibraltar    66.67
670         Ashe  Watchpoint: Gibraltar    45.95
671         Echo  Watchpoint: Gibraltar    36.67

[672 rows x 3 columns]

In [13]:
damagers = ['Ashe', 'Bastion', 'McCree', 'Echo', 'Genji', 'Hanzo', 'Junkrat', 'Mei', 'Pharah', 'Reaper', 'Soldier: 76', 'Sombra', 'Symmetra', 'Torbjörn', 'Tracer', 'Widowmaker']
tanks = ['D.Va', 'Doomfist', 'Orisa', 'Reinhardt', 'Roadhog', 'Sigma', 'Winston', 'Wrecking Ball', 'Zarya']
supports = ['Ana', 'Baptiste', 'Brigitte', 'Lúcio', 'Mercy', 'Moira', 'Zenyatta']
hero_class = []
classes = ['Damage','Support', 'Tank']
for index,row in win_pct.iterrows():
    if row['Hero'] in damagers:
        hero_class.append('Damage')
    if row['Hero'] in tanks:
        hero_class.append('Tank')
    if row['Hero'] in supports:
        hero_class.append('Support')
win_pct['Class'] = hero_class
top_three_df = pd.DataFrame()
for map in map_names:
    temp_df = win_pct.loc[win_pct['Map'] == map]
    for class_type in classes:
        temp_df = win_pct.loc[win_pct['Map'] == map]
        temp_df = temp_df.loc[win_pct['Class'] == class_type]
        temp_df = temp_df.sort_values(by=['Win_Pct'], ascending=False).head(2)
        combine = [top_three_df, temp_df]
        top_three_df = pd.concat(combine)
top_three_df

            Hero                    Map  Win_Pct    Class
27   Soldier: 76            Eichenwalde    66.67   Damage
9       Symmetra            Eichenwalde    56.25   Damage
2       Baptiste            Eichenwalde    51.85  Support
11           Ana            Eichenwalde    51.11  Support
14          D.Va            Eichenwalde    51.92     Tank
..           ...                    ...      ...      ...
667  Soldier: 76  Watchpoint: Gibraltar    57.14   Damage
660        Mercy  Watchpoint: Gibraltar    53.85  Support
643        Moira  Watchpoint: Gibraltar    50.00  Support
659      Roadhog  Watchpoint: Gibraltar    64.52     Tank
662        Zarya  Watchpoint: Gibraltar    62.96     Tank

[126 rows x 4 columns]

In [14]:
win_pct = win_pct.sort_values(by=['Map', 'Hero'], ascending = True)
win_pct

              Hero                    Map  Win_Pct    Class
299            Ana         Blizzard World    50.00  Support
318           Ashe         Blizzard World    50.00   Damage
290       Baptiste         Blizzard World    53.85  Support
313        Bastion         Blizzard World   100.00   Damage
311       Brigitte         Blizzard World    50.00  Support
..             ...                    ...      ...      ...
650     Widowmaker  Watchpoint: Gibraltar    47.92   Damage
656        Winston  Watchpoint: Gibraltar    48.39     Tank
647  Wrecking Ball  Watchpoint: Gibraltar    41.07     Tank
662          Zarya  Watchpoint: Gibraltar    62.96     Tank
657       Zenyatta  Watchpoint: Gibraltar    48.57  Support

[672 rows x 4 columns]

In [15]:
average_table = test
#average_table.drop('game_number', axis = 1, inplace=True)
#average_table.drop('map_winner', axis = 1, inplace=True)
average_table = average_table.groupby(['esports_match_id', 'map_name', 'hero_name']).mean().reset_index()
average_table

stat_name,esports_match_id,map_name,hero_name,All Damage Done,Assists,Barrier Damage Done,Damage Blocked,Deaths,Eliminations,Final Blows,Healing Done,Hero Damage Done,Objective Kills,Objective Time,Ultimates Earned - Fractional,game_number
0,30991,Eichenwalde,Ana,10010.380,21.0,5654.220,0.00,3.00,24.00,3.00,23577.310,4156.160,12.00,147.9300,11.740,2.0
1,30991,Eichenwalde,Baptiste,14678.330,13.0,7166.200,0.00,8.00,18.00,5.00,20391.750,7511.140,7.00,128.2600,10.430,2.0
2,30991,Eichenwalde,D.Va,26508.660,23.0,18704.280,16729.61,7.00,30.00,7.00,0.000,7014.010,15.00,147.4700,9.930,2.0
3,30991,Eichenwalde,Doomfist,0.000,0.0,0.000,0.00,0.00,0.00,0.00,0.000,0.000,0.00,0.0000,0.020,2.0
4,30991,Eichenwalde,Lúcio,14233.820,14.0,7526.215,0.00,9.00,19.50,4.00,11009.685,6328.780,12.00,172.5800,6.635,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15546,35554,Temple of Anubis,Roadhog,10834.305,8.5,4233.880,0.00,9.00,13.00,4.50,0.000,6597.425,5.50,52.5750,4.340,3.0
15547,35554,Temple of Anubis,Sigma,11561.640,15.0,2688.685,14931.54,6.00,25.50,10.50,0.000,8871.455,9.50,46.2800,5.255,3.0
15548,35554,Temple of Anubis,Tracer,332.900,0.0,48.000,0.00,1.00,0.00,0.00,0.000,284.900,0.00,3.2800,0.245,3.0
15549,35554,Temple of Anubis,Widowmaker,9096.980,8.0,1928.055,0.00,7.00,19.50,11.50,0.000,7168.925,4.50,5.2750,5.415,3.0
15550,35554,Temple of Anubis,Wrecking Ball,562.535,2.0,65.060,0.00,0.75,2.25,0.25,0.000,497.475,2.25,17.8275,0.440,3.0

In [16]:
classes = [damagers, supports, tanks]
class_names = ["Damage", "Support", "Tank"]
newest_df = pd.DataFrame()
for curr_class, class_name in zip(classes, class_names):
    # Take rows of only heroes of the current class
    curr_table = average_table.loc[average_table['hero_name'].isin(curr_class)].copy()
    # Define equations we will use to calculate overall efficiency and create efficiency column
    def healer_efficiency(row):
        if (class_name == "Damage"):
            return (2*row['Assists'] + 2*row['Barrier Damage Done'] - 1.5*row['Deaths'] + 2.5*row['Eliminations'] + 2*row['All Damage Done']
                    + 2*row['Final Blows'] + row['Healing Done'] + 2*row['Objective Kills'] + row['Objective Time'] + 1.5*row['Ultimates Earned - Fractional'])
        elif (class_name == "Support"):
            return (2*row['Assists'] + 1.5*row['Barrier Damage Done'] - 2*row['Deaths'] + 2*row['Eliminations'] + row['All Damage Done']
                    + row['Final Blows'] + 2.5*row['Healing Done'] + 1.5*row['Objective Kills'] + 1.5*row['Objective Time'] + 1.5*row['Ultimates Earned - Fractional'])
        else:
            return (1.5*row['Assists'] + row['Barrier Damage Done'] + 1.5*row['Damage Blocked'] - 3*row['Deaths'] + 2*row['Eliminations'] + row['All Damage Done']
                    + row['Final Blows'] + row['Healing Done'] + 1.5*row['Objective Kills'] + 1.5*row['Objective Time'] + row['Ultimates Earned - Fractional'])
            
    curr_table['Efficiency'] = curr_table.apply(lambda row: healer_efficiency(row), axis=1)
    
    curr_table = curr_table.groupby(['hero_name', 'map_name']).mean().reset_index()
    curr_table['Efficiency'] = curr_table['Efficiency'].round(decimals = 2)
    

    newest_df = pd.concat([newest_df, curr_table])

Damage
5991
Damage
321
Support
4448
Support
147
Tank
5112
Tank
188

In [17]:
newest_df = newest_df.sort_values(by=['map_name', 'hero_name'], ascending = True)
newest_df

stat_name,hero_name,map_name,esports_match_id,All Damage Done,Assists,Barrier Damage Done,Damage Blocked,Deaths,Eliminations,Final Blows,Healing Done,Hero Damage Done,Objective Kills,Objective Time,Ultimates Earned - Fractional,game_number,Efficiency
0,Ana,Blizzard World,32745.500000,4184.049091,6.136364,1634.885682,0.000000,3.613636,7.500000,1.363636,9284.716591,2488.742727,2.818182,35.563864,5.042273,2.909091,29934.71
0,Ashe,Blizzard World,34472.909091,16438.586591,7.636364,6536.324545,0.000000,4.681818,14.204545,6.568182,0.000000,9109.417727,4.704545,29.469318,4.265682,2.863636,46052.00
21,Baptiste,Blizzard World,33856.413793,8005.283506,7.724138,4655.084138,0.000000,4.873563,10.206897,2.482759,12599.275517,2991.313046,4.321839,46.303966,5.660977,2.793103,46599.13
20,Bastion,Blizzard World,31042.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.00
42,Brigitte,Blizzard World,33663.052632,5262.057105,9.500000,1934.331053,2711.868158,4.500000,12.026316,2.421053,8962.595789,3117.034474,5.947368,93.770789,4.605789,3.000000,30763.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Widowmaker,Watchpoint: Gibraltar,34836.451613,4408.275000,2.155914,938.559462,0.000000,3.123656,5.860215,3.704301,0.000000,3443.808817,1.225806,6.891183,2.632419,3.225806,10728.65
146,Winston,Watchpoint: Gibraltar,34742.555556,9962.757685,12.787037,1969.239722,14128.404630,6.277778,18.675926,5.814815,0.000000,7799.931296,5.166667,99.330185,5.261389,3.259259,33330.12
167,Wrecking Ball,Watchpoint: Gibraltar,34739.918919,1090.649820,1.027027,309.166171,0.000000,0.972973,1.738739,0.684685,0.000000,761.090811,0.657658,17.007027,0.631982,3.297297,1429.73
187,Zarya,Watchpoint: Gibraltar,34960.055556,12394.746667,12.722222,4366.795278,4961.784167,4.638889,18.944444,6.222222,0.000000,7882.101667,7.444444,67.425833,4.074722,3.444444,24369.88
146,Zenyatta,Watchpoint: Gibraltar,34793.333333,9432.882292,7.145833,3640.325417,0.000000,5.000000,10.125000,2.979167,7313.177292,5431.833542,2.770833,24.195000,4.327500,3.458333,33250.77

In [22]:
maps = []
heroes = []
efficiencies = []
for map in map_names:
    for hero in hero_names:
        temp_hero = newest_df.loc[newest_df['hero_name'] == hero] 
        score = temp_hero.loc[temp_hero['map_name'] == map]['Efficiency'].sum()
        maps.append(map)
        heroes.append(hero)
        efficiencies.append(score)
effic_df = pd.DataFrame()
effic_df['Hero'] = heroes
effic_df['Map'] = maps
effic_df['Efficiency'] = efficiencies
effic_df = effic_df.sort_values(by=['Map', 'Hero'], ascending = True)

In [56]:
win_pct['Efficiency'] = effic_df['Efficiency']
win_pct['Master Key'] = (2*win_pct['Efficiency'] / (win_pct['Efficiency'].mean())) + (win_pct['Win_Pct'] / (win_pct['Win_Pct'].mean()))
win_pct = win_pct[['Hero','Map','Class','Win_Pct','Efficiency','Master Key']]
win_pct.sort_values(by=['Master Key'], ascending = False)

        Hero                    Map   Class  Win_Pct  Efficiency  Master Key
629    Genji                 Rialto  Damage    57.14    70527.17    8.304113
165      Mei              Kings Row  Damage    51.90    68206.68    7.959926
63      Echo                 Havana  Damage    66.67    62722.79    7.720021
614    Orisa                 Rialto    Tank    50.00    61534.31    7.248344
319     Echo         Blizzard World  Damage    50.00    60742.78    7.168690
..       ...                    ...     ...      ...         ...         ...
505  Bastion                  Paris  Damage     0.00        0.00    0.000000
316  Junkrat         Blizzard World  Damage     0.00        0.00    0.000000
89   Bastion   Horizon Lunar Colony  Damage     0.00        0.00    0.000000
668  Junkrat  Watchpoint: Gibraltar  Damage     0.00        0.00    0.000000
86     Zarya   Horizon Lunar Colony    Tank     0.00        0.00    0.000000

[672 rows x 6 columns]

In [57]:
damage_df = win_pct.loc[win_pct['Class'] == 'Damage'].sort_values(by=['Master Key'], ascending=False)
support_df = win_pct.loc[win_pct['Class'] == 'Support'].sort_values(by=['Master Key'], ascending=False)
tank_df = win_pct.loc[win_pct['Class'] == 'Tank'].sort_values(by=['Master Key'], ascending=False)
maps = []
damage_one = []
damage_two = []
support_one = []
support_two = []
tank_one = []
tank_two = []
for map in map_names:
    best_damage = damage_df.loc[damage_df['Map'] == map].head(2)
    best_damage_arr = np.array(best_damage['Hero'])
    damage_one.append(best_damage_arr[0])
    damage_two.append(best_damage_arr[1])
    best_support = support_df.loc[support_df['Map'] == map].head(2)
    best_support_arr = np.array(best_support['Hero'])
    support_one.append(best_support_arr[0])
    support_two.append(best_support_arr[1])
    best_tank = tank_df.loc[tank_df['Map'] == map].head(2)
    best_tank_arr = np.array(best_tank['Hero'])
    tank_one.append(best_tank_arr[0])
    tank_two.append(best_tank_arr[1])
    maps.append(map)
final_team_composition = pd.DataFrame()
final_team_composition['Map'] = maps
final_team_composition['Damage #1'] = damage_one
final_team_composition['Damage #2'] = damage_two
final_team_composition['Tank #1'] = tank_one
final_team_composition['Tank #2'] = tank_two
final_team_composition['Support #1'] = support_one
final_team_composition['Support #2'] = support_two

In [58]:
final_team_composition

,Map,Damage #1,Damage #2,Tank #1,Tank #2,Support #1,Support #2
0,Eichenwalde,Genji,Torbjörn,Orisa,Reinhardt,Baptiste,Ana
1,Havana,Echo,Mei,Orisa,Sigma,Zenyatta,Moira
2,Horizon Lunar Colony,Pharah,McCree,Reinhardt,D.Va,Ana,Zenyatta
3,Lijiang Tower,Mei,Pharah,Reinhardt,Orisa,Baptiste,Moira
4,Junkertown,Torbjörn,Echo,Orisa,Zarya,Baptiste,Ana
5,Kings Row,Mei,Echo,Orisa,Sigma,Baptiste,Moira
6,Dorado,Torbjörn,Pharah,Reinhardt,Orisa,Ana,Baptiste
7,Hanamura,Mei,Genji,Sigma,Orisa,Baptiste,Brigitte
8,Nepal,Pharah,Mei,Roadhog,Sigma,Baptiste,Moira
9,Blizzard World,Echo,Mei,Sigma,Orisa,Baptiste,Zenyatta
10,Oasis,Genji,Mei,Sigma,Orisa,Moira,Baptiste
11,Temple of Anubis,Mei,Ashe,Orisa,Sigma,Baptiste,Ana
12,Busan,Mei,Torbjörn,Orisa,Sigma,Baptiste,Moira
13,Ilios,Genji,Pharah,Sigma,Orisa,Baptiste,Moira
14,Numbani,Ashe,Genji,Sigma,Orisa,Brigitte,Baptiste
15,Paris,Echo,Mei,Orisa,Sigma,Moira,Baptiste
16,Route 66,Genji,Mei,Orisa,Sigma,Baptiste,Moira
17,Volskaya Industries,Echo,Mei,Orisa,Sigma,Baptiste,Brigitte
18,Hollywood,Mei,Genji,Orisa,Sigma,Baptiste,Brigitte
19,Rialto,Genji,Mei,Orisa,Sigma,Baptiste,Zenyatta
20,Watchpoint: Gibraltar,Mei,Genji,Winston,D.Va,Brigitte,Zenyatta